Repository Toblerity/Fiona, pull requests merged in 2018-10, with the labels that each got.

#643 Add get_linear_geometry to _shim, use it to convert curve geoms
  CHANGES.txt
  fiona/_shim1.pxd
  fiona/_shim1.pyx
  fiona/_shim2.pxd
  fiona/_shim2.pyx
  fiona/_shim22.pxd
  fiona/_shim22.pyx
  fiona/drvsupport.py
  fiona/ogrext.pyx
  fiona/ogrext2.pxd
  tests/conftest.py
  tests/data/curves_line.csv
  tests/test_curve_geometries.py
Labels: bug

#648 Cut down on unittest usage
  tests/test_bigint.py
  tests/test_binary_field.py
  tests/test_collection.py
  tests/test_encoding.py
  tests/test_feature.py
  tests/test_fio_collect.py
  tests/test_geojson.py
  tests/test_integration.py
  tests/test_layer.py
  tests/test_listing.py
  tests/test_non_counting_layer.py
  tests/test_revolvingdoor.py
  tests/test_rfc3339.py
  tests/test_schema.py
  tests/test_unicode.py
Labels: tests

#649 Remove unittest from geometry tests
  tests/test_geometry.py
Labels: tests

#650 Use path fixtures in more tests
  tests/conftest.py
  tests/test_drivers.py
  tests/test_logutils.py
  tests/test_read_drivers.py
Labels: tests

#651 Use bare assert in ReadingTest subclasses.
  tests/test_layer.py
  tests/test_vfs.py
Labels: tests

#652 Replace unittest.assert* with plain assert in collection tests
  tests/test_bytescollection.py
  tests/test_collection.py
Labels: tests

#653 Remove packaging from test requirements.
  requirements-dev.txt
  setup.py
  tests/test_vfs.py
Labels: bug

#654 Drop unittest in multiconnection tests
  tests/test_multiconxn.py
Labels: refactor, tests

#655 Drop unittest from collection tests
  tests/__init__.py
  tests/test_bytescollection.py
  tests/test_collection.py
  tests/test_layer.py
  tests/test_vfs.py
Labels: refactor, tests
